* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:rgb(163, 55, 163);
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background-color:blue;
    width: 260px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 8px gray;
}

#random {
    color: azure;
}

